from pyrogram import Client

plugins = dict(root="plugins")
api_id = ''
api_hash = ''
app = Client("my_account", api_id, api_hash, plugins=plugins)

cmds = {}

git_repo = ('https://github.com/AmanoTeam/UserLixo', 'master')
