pillow
aiohttp
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram
tgcrypto
youtube-dl
chromeprinter
dicioinformal
gtts
wikipedia
desciclopedia
telegraph
pySmartDL
httpx[http2]
EdgeGPT
opencv-python
