aiocron==1.8
aiosqlite>=0.16.0
async-lru==1.0.2
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
croniter==1.0.15
iso8601==1.0.0
langs==0.1.1
meval==2.5
natsort==8.0.0
pyaes==1.6.1
Pygments==2.10.0
PyPika>=0.44.0
Pyrogram>=1.2.3,<1.3.0
pyromod==1.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz>=2020.4
PyYAML==6.0
rich==10.14.0
six==1.16.0
TgCrypto==1.2.2
tortoise-orm==0.16.21
typing-extensions==4.0.0
tzlocal==4.1
