aiocron==1.3
aiosqlite==0.16.0
async-lru==1.0.2
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
croniter==0.3.36
iso8601==0.1.13
langs==0.1.1
meval==2.5
natsort==7.1.0
pyaes==1.6.1
Pygments==2.7.2
PyPika==0.44.0
Pyrogram==1.0.7
pyromod==1.5
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
rich==9.3.0
six==1.15.0
TgCrypto==1.2.2
tortoise-orm==0.16.18
typing-extensions==3.7.4.3
tzlocal==2.1
asyncpg==0.21.0
psycopg2-binary==2.8.6
heroku3==4.2.3
