pillow
aiohttp
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram
git+https://github.com/F33RNI/EdgeGPT
tgcrypto
youtube-dl
chromeprinter
dicioinformal
gtts
wikipedia
desciclopedia
telegraph
pySmartDL
httpx[http2]
opencv-python